body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}

#banner {
    height: auto;
    width: 1000px;
}

#header {
    background-color: rgb(139, 139, 139);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 50px;
    width: 1000px;
}

#menu_left {
    background-color: rgb(241, 241, 241);
    float: left;
    width: 280px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
}

#main{
    background-color: rgb(255, 255, 255);
    min-height: 580px;
    width: 720px;
    float: right;
}

#banner img{
    width: 1000px;
}

.box {
    padding-top: 12px;
    font-size: 20px;
    flex-basis: auto;
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
}
.box a{
    text-decoration: none;
    color: white;
}
#menu_left h2{
    font-size: 25px;
    margin: 10px 0 10px 20px;
}
.box2{
    background-color: greenyellow;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding-left: 20px;
    flex: 1 1 auto;
}

#main img {
    padding: 20px 0 10px 30px;
}

#main h1{
    padding-left: 30px;
    font-size: 35px;
    margin: 0px 0px 10px 0px;
}

#main img {
    float: left;
    margin-right: 20px;
}

#main p {
    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
}
#main h2{
    font-size: 25px;
    margin-left: 30px;
}
